{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# <div class="container-xl"> #}
    {% block main_menu_before %}{% endblock %}
    <ul class="menu navbar-nav d-flex justify-content-evenly flex-row" data-controller="menu">
        {% block main_menu %}
            {% for menuItem in ea.mainMenu.items %}
                {% block menu_item %}
                    <li class="nav-item {{ menuItem.isMenuSection ? 'menu-header' : 'menu-item' }} {{ menuItem.hasSubItems ? 'dropdown' }} {{ "App\\Entity\\Customer\\Customer" == ea.entity.fqcn ? 'active' }} {{ ea.mainMenu.isExpanded(menuItem) ? 'expanded' }}">
                        {{ _self.render_menu_item(menuItem) }}
                        {% if menuItem.hasSubItems %}
                            <div class="dropdown-menu" data-menu-target="dropdown">
                                {% for menuSubItem in menuItem.subItems %}
                                    {% block menu_subitem %}
                                            {{ _self.render_menu_item(menuSubItem) }}
                                    {% endblock menu_subitem %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </li>
                {% endblock menu_item %}
            {% endfor %}
        {% endblock main_menu %}
    </ul>
    {% block main_menu_after %}{% endblock %}
{# </div> #}

{% macro render_menu_item(item) %}
    {% if item.isMenuSection %}
        <span class="menu-header-contents">
            {% if item.icon is not empty %}<i class="menu-icon fa-fw {{ item.icon }}"></i>{% endif %}
            <span class="menu-item-label position-relative {{ item.cssClass }}">
                {{ item.label|trans|raw }}
            </span>
            {% if item.badge %}
                <span class="menu-item-badge rounded-pill badge {{ item.badge.cssClass }}" style="{{ item.badge.htmlStyle }}">{{ item.badge.content }}</span>
            {% endif %}
        </span>
    {% else %}
        <a href="{{ item.linkUrl }}" 
            class="nav-link  {{ item.hasSubItems ? 'dropdown-toggle' }}  {{ item.cssClass }} {{ ea.mainMenu.isSelected(item) ? 'active' }}" 
            {% if item.hasSubItems %}
                target="{{ item.linkTarget }}" 
                rel="{{ item.linkRel }}" 
                referrerpolicy="origin-when-cross-origin" 
                data-bs-toggle="dropdown" 
                data-bs-auto-close="outside" 
                role="button" 
                aria-expanded="false"
            {% endif %}
            
        >
            {% if item.icon is not empty %}<i class="menu-icon fa-fw {{ item.icon }}"></i>{% endif %}
            <span class="nav-link-title">{{ item.label|trans|raw }}</span>
            {% if item.hasSubItems %}
            {% endif %}
            {# {% if item.icon is not empty %}<i class="menu-icon fa-fw {{ item.icon }}"></i>{% endif %}
            <span class="menu-item-label position-relative">
                {{ item.label|trans|raw }}
            </span>
            {% if item.hasSubItems %}<i class="fa fa-fw fa-angle-right submenu-toggle-icon"></i>{% endif %}
            {% if item.badge %}
                <span class="menu-item-badge rounded-pill badge {{ item.badge.cssClass }}" style="{{ item.badge.htmlStyle }}">{{ item.badge.content }}</span>
            {% endif %} #}
        </a>
    {% endif %}
{% endmacro %}
