{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/crud/form_theme.html.twig' %}

{% block users_association_row %}

    {% set row_attr = row_attr|merge({
        class: row_attr.class|default('') ~ ' form-group'
    }) %}

    <div class="{{ form.vars.ea_crud_form.ea_field.columns ?? form.vars.ea_crud_form.ea_field.defaultColumns ?? '' }}">
        <div {% with { attr: row_attr } %}{{ block('attributes') }}{% endwith %}>
            {{- form_label(form) -}}
            <div class="select-search-box">
                <p>{{ 'Select'|trans }}: 
                <a href="#" data-action="users#select" data-select-value="all">{{ 'All'|trans }}</a> | 
                <a href="#" data-action="users#select" data-select-value="none">{{ 'None'|trans }}</a> | 
                <a href="#" data-action="users#select" data-select-value="inverse">{{ 'Inverse'|trans }}</a>
                </p>
                <p class="ms-2">{{ 'Gender'|trans }}: 
                <a href="#" data-action="users#selectGender" data-select-value="m">{{ 'Males'|trans }}</a> | 
                <a href="#" data-action="users#selectGender" data-select-value="f">{{ 'Females'|trans }}</a>
                {# <a href="#" data-action="users#selectGender" data-select-value="nd">{{ 'Not defined'|trans }}</a> #}
                </p>
                
                {% if groups|length > 0 %}
                    <p class="form-widget ms-2">
                    {% if groups|length > 2 %}
                        <select class="form-select" data-action="users#selectGroup">
                            <option value="">{{ 'Choose group:'|trans }}</option>
                            {% for group in groups %}
                                <option  value="{{ group.slug }}" data-select-value="{{ group.slug }}">{{ group|trans }}</option>
                            {% endfor %}
                                <option  value="none" data-select-value="none">{{ 'No group'|trans }}</option>
                        </select>
                    {% else %}
                        {{ 'Groups'|trans }}:
                        {% for group in groups %}
                            <a href="#" data-action="users#selectGroup" data-select-value="{{ group.slug }}">{{ group|trans }}</a> | 
                        {% endfor %}
                            <a href="#" data-action="users#selectGroup" data-select-value="none">{{ 'No gorup'|trans }}</a>
                    {% endif %}
                    </p>
                {% endif %}
                
                <p class="form-widget ms-2">{{ 'View'|trans }}: 
                <a href="#" data-action="users#view" data-select-value="all">{{ 'All'|trans }} (<strong data-users-target="counterAll"></strong>)</a> | 
                <a href="#" data-action="users#view" data-select-value="selected">{{ 'Selected'|trans }} (<strong data-users-target="counterSelected"></strong>)</a> | 
                <a href="#" data-action="users#view" data-select-value="not-selected">{{ 'Not selected'|trans }} (<strong data-users-target="counterNotSelected"></strong>)</a>
                </p>
                <p class="form-widget ms-2">
                <input type="search" class="form-control form-control-sm w-10 d-inline" data-action="users#search" value="" placeholder="{{ 'Search...'|trans }}">
                </p>
            </div>
            
            <div class="form-widget">
                {% set has_prepend_html = ea.field.prepend_html|default(null) is not null %}
                {% set has_append_html = ea.field.append_html|default(null) is not null %}
                {% set has_input_groups = has_prepend_html or has_append_html %}

                {% if has_input_groups %}<div class="input-group">{% endif %}
                    {% if has_prepend_html %}
                        <div class="input-group-prepend">
                            <span class="input-group-text">{{ ea.field.prepend_html|raw }}</span>
                        </div>
                    {% endif %}

                    {{ form_widget(form) }}

                    {% if has_append_html %}
                        <span class="input-group-text">{{ ea.field.append_html|raw }}</span>
                    {% endif %}
                {% if has_input_groups %}</div>{% endif %}

                {% set nullable_fields_fqcn = [
                    'EasyCorp\\Bundle\\EasyAdminBundle\\Field\\DateTimeField',
                    'EasyCorp\\Bundle\\EasyAdminBundle\\Field\\DateField',
                    'EasyCorp\\Bundle\\EasyAdminBundle\\Field\\TimeField',
                ] %}
                {% if form.vars.ea_crud_form.ea_field.fieldFqcn|default(false) in nullable_fields_fqcn and not form.vars.ea_crud_form.ea_field.formTypeOptions.required %}
                    <div class="nullable-control">
                        <label>
                            <input type="checkbox" {% if ea.crud.currentAction == 'edit' and data is null and valid %}checked="checked"{% endif %}>
                            {{ 'label.nullable_field'|trans({}, 'EasyAdminBundle')}}
                        </label>
                    </div>
                {% endif %}

                {% if ea.field.help ?? false %}
                    <small class="form-help">{{ ea.field.help|raw }}</small>
                {% elseif form.vars.help ?? false %}
                    <small class="form-help">{{ form.vars.help|trans(form.vars.help_translation_parameters, form.vars.translation_domain)|raw }}</small>
                {% endif %}

                {{- form_errors(form) -}}
            </div>
        </div>
    </div>

    {# if a field doesn't define its columns explicitly, insert a fill element to make the field take the entire row space #}
    {% if form.vars.ea_crud_form.ea_field.columns|default(null) is null %}
        <div class="flex-fill"></div>
    {% endif %}
{% endblock users_association_row %}