{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/crud/form_theme.html.twig' %}

{% block association_users_row %}
    {% set row_attr = row_attr|merge({
        class: row_attr.class|default('') ~ ' form-group'
    }) %}

    <div class="{{ form.vars.ea_crud_form.ea_field.columns ?? form.vars.ea_crud_form.ea_field.defaultColumns ?? '' }}">
        <div {% with { attr: row_attr } %}{{ block('attributes') }}{% endwith %}>
            {{- form_label(form) -}}
            <div class="form-widget">
                <p style="display:inline;">Select: 
                <a href="#" data-action="users#select" data-select-value="all">All</a> | 
                <a href="#" data-action="users#select" data-select-value="none">None</a> | 
                <a href="#" data-action="users#select" data-select-value="inverse">Inverse</a>
                </p>
                <p style="margin-left:10px; display:inline;">Gender: 
                <a href="#" data-action="users#selectGender" data-select-value="m">Males</a> | 
                <a href="#" data-action="users#selectGender" data-select-value="f">Females</a>
                {# <a href="#" data-action="users#selectGender" data-select-value="nd">Not defined</a> #}
                </p>
                <p style="margin-left:10px; display:inline;">Groups: 
                <a href="#" data-action="users#selectGroup" data-select-value="group-1">Group 1</a> | 
                <a href="#" data-action="users#selectGroup" data-select-value="group-2">Group 2</a> | 
                <a href="#" data-action="users#selectGroup" data-select-value="group-3">Group 3</a> | 
                <a href="#" data-action="users#selectGroup" data-select-value="group-4">Group 4</a>
                </p>
                <p style="margin-left:10px; display:inline;">View: 
                <a href="#" data-action="users#view" data-select-value="all">All (<strong data-users-target="counterAll"></strong>)</a> | 
                <a href="#" data-action="users#view" data-select-value="selected">Selected (<strong data-users-target="counterSelected"></strong>)</a> | 
                <a href="#" data-action="users#view" data-select-value="not-selected">Not selected (<strong data-users-target="counterNotSelected"></strong>)</a>
                </p>
                <p style="margin-left:10px; display:inline;">
                <div class="input-group">
                <input type="text" class="form-control form-control-sm col-xxl-2" data-action="users#search" value="" placeholder="Cerca...">
                <button class="btn btn-outline-secondary" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                </p>
            </div>
            
            <div class="form-widget">
                {% set has_prepend_html = ea.field.prepend_html|default(null) is not null %}
                {% set has_append_html = ea.field.append_html|default(null) is not null %}
                {% set has_input_groups = has_prepend_html or has_append_html %}

                {% if has_input_groups %}<div class="input-group">{% endif %}
                    {% if has_prepend_html %}
                        <div class="input-group-prepend">
                            <span class="input-group-text">{{ ea.field.prepend_html|raw }}</span>
                        </div>
                    {% endif %}

                    {{ form_widget(form) }}

                    {% if has_append_html %}
                        <span class="input-group-text">{{ ea.field.append_html|raw }}</span>
                    {% endif %}
                {% if has_input_groups %}</div>{% endif %}

                {% set nullable_fields_fqcn = [
                    'EasyCorp\\Bundle\\EasyAdminBundle\\Field\\DateTimeField',
                    'EasyCorp\\Bundle\\EasyAdminBundle\\Field\\DateField',
                    'EasyCorp\\Bundle\\EasyAdminBundle\\Field\\TimeField',
                ] %}
                {% if form.vars.ea_crud_form.ea_field.fieldFqcn|default(false) in nullable_fields_fqcn and not form.vars.ea_crud_form.ea_field.formTypeOptions.required %}
                    <div class="nullable-control">
                        <label>
                            <input type="checkbox" {% if ea.crud.currentAction == 'edit' and data is null and valid %}checked="checked"{% endif %}>
                            {{ 'label.nullable_field'|trans({}, 'EasyAdminBundle')}}
                        </label>
                    </div>
                {% endif %}

                {% if ea.field.help ?? false %}
                    <small class="form-help">{{ ea.field.help|raw }}</small>
                {% elseif form.vars.help ?? false %}
                    <small class="form-help">{{ form.vars.help|trans(form.vars.help_translation_parameters, form.vars.translation_domain)|raw }}</small>
                {% endif %}

                {{- form_errors(form) -}}
            </div>
        </div>
    </div>

    {# if a field doesn't define its columns explicitly, insert a fill element to make the field take the entire row space #}
    {% if form.vars.ea_crud_form.ea_field.columns|default(null) is null %}
        <div class="flex-fill"></div>
    {% endif %}
{% endblock association_users_row %}

{% block collection_entry_row %}

    {% set is_array_field = 'EasyCorp\\Bundle\\EasyAdminBundle\\Field\\ArrayField' == form_parent(form).vars.ea_crud_form.ea_field.fieldFqcn ?? false %}
    {% set is_complex = form_parent(form).vars.ea_crud_form.ea_field.customOptions.get('entryIsComplex') ?? false %}
    {% set allows_deleting_items = form_parent(form).vars.allow_delete|default(false) %}
    {% set render_expanded = form_parent(form).vars.ea_crud_form.ea_field.customOptions.get('renderExpanded') ?? false %}
    {% set delete_item_button %}
        <button type="button" class="btn btn-link btn-link-danger field-collection-delete-button action-delete"
                title="{{ 'action.remove_item'|trans({}, 'EasyAdminBundle') }}">
            <i class="far fa-trash-alt"></i>
        </button>
    {% endset %}

    <div class="card field-collection-item">
    <div class="card-header">
        {{ value|ea_as_string }}
        {% if allows_deleting_items %}
                {{ delete_item_button }}
        {% endif %}
    </div>
    <div class="card-body">
        <div class="card-text">
        {# {{ dump(form) }} #}
        {{ form_widget(form) }}
        {# {{ form_row(form) }} #}
        </div>
    </div>
    </div>
    <div class="field-collection-item">
    <div class="field-collection-item">
            
            
    </div>
{% endblock collection_entry_row %}