{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# This template checks for 'ea' variable existence because it can
   be used in a EasyAdmin Dashboard controller, where 'ea' is defined
   or from any other Symfony controller, where 'ea' is not defined #}
{% extends ea is defined ? ea.templatePath('layout') : '@EasyAdmin/page/login_minimal.html.twig' %}
{% trans_default_domain ea is defined ? ea.i18n.translationDomain : (translation_domain is defined ? translation_domain ?? 'messages') %}

{% block body_class 'page-login border-top-wide border-primary d-flex flex-column' %}
{% block page_title %}{{ page_title is defined ? page_title|raw : (ea is defined ? ea.dashboardTitle|raw : 'Login to your account') }}{% endblock %}

{% block head_favicon %}
    {% if favicon_path|default(false) %}
        <link rel="shortcut icon" href="{{ favicon_path }}">
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

  
{% block wrapper_wrapper %}
    {% set page_title = block('page_title') %}
    {% set _username_label = username_label is defined ? username_label|trans : 'login_page.username'|trans({}, 'EasyAdminBundle') %}
    {% set _password_label = password_label is defined ? password_label|trans : 'login_page.password'|trans({}, 'EasyAdminBundle') %}
    {% set _forgot_password_label = forgot_password_label is defined ? forgot_password_label|trans : 'login_page.forgot_password'|trans({}, 'EasyAdminBundle') %}
    {% set _remember_me_label = remember_me_label is defined ? remember_me_label|trans : 'login_page.remember_me'|trans({}, 'EasyAdminBundle') %}
    {% set _sign_in_label = sign_in_label is defined ? sign_in_label|trans : 'login_page.sign_in'|trans({}, 'EasyAdminBundle') %}
    {% set _username_placeholder = username_placeholder is defined ? username_placeholder|trans : 'login_page.username_placeholder'|trans({}, 'EasyAdminBundle') %}
    {% set _password_placeholder = password_placeholder is defined ? password_placeholder|trans : 'login_page.password_placeholder'|trans({}, 'EasyAdminBundle') %}

    <div class="page page-center">
      <div class="container-tight py-4">
        
        <div class="text-center mb-4">
          {% block header_logo %}
            {% if page_title %}
                {% if ea is defined %}
                    <a class="navbar-brand navbar-brand-autodark logo {{ page_title|length > 14 ? 'logo-long' }}" title="{{ page_title|striptags }}" href="{{ path(ea.dashboardRouteName) }}">
                        {{ page_title|raw }}
                    </a>
                {% else %}
                    <div class="logo {{ page_title|length > 14 ? 'logo-long' }}">
                        {{ page_title|raw }}
                    </div>
                {% endif %}
            {% endif %}
        {% endblock header_logo %}
        </div>

        <form class="card card-md" action="{{ action|default('') }}" method="POST" autocomplete="off" data-controller="login">
            {% if csrf_token_intention|default(false) %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token(csrf_token_intention) }}">
            {% endif %}
            <input type="hidden" name="{{ target_path_parameter|default('_target_path') }}" value="{{ target_path|default(ea is defined ? path(ea.dashboardRouteName) : '/') }}" />

          <div class="card-body" data-controller="tooltip">
            <h2 class="card-title text-center mb-4">{{ page_title|raw }}</h2>
            {% if error|default(false) %}
                <div class="w-100 alert alert-danger rounded mb-3">
                    <i class="fas fa-times-circle mr-1"></i>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            <div class="mb-3">
              <label class="form-label" for="username">{{ _username_label }} 
              <small data-tooltip-target="tooltip" title="Username can be an email or username"><i class="fa-regular fa-circle-question"></i> </small>
              <input type="text" id="username" name="{{ username_parameter|default('_username') }}" value="{{ last_username|default('') }}" class="form-control" required autofocus autocomplete="username" placeholder="{{ _username_placeholder }}">
            </div>
            <div class="mb-2">
              <label class="form-label" for="password">{{ _password_label }}
              <small data-tooltip-target="tooltip" title="Password used in this application"><i class="fa-regular fa-circle-question"></i> </small>
                {% if forgot_password_enabled|default(false) %}
                    <span class="form-label-description">
                        <a href="{{ forgot_password_path|default('#') }}">{{ _forgot_password_label }}</a> 
                    </span>
                {% endif %}
              </label>
              <div class="input-group input-group-flat">
                <input type="password" id="password" class="form-control" name="{{ password_parameter|default('_password') }}" placeholder="{{ _password_placeholder }}" required autocomplete="current-password" data-login-target="input" data-login-visible-value="false">
                <span class="input-group-text">
                  <a href="#" class="link-secondary" data-bs-toggle="tooltip" data-tooltip-target="tooltip" aria-label="Show password" title="Show password" data-action="click->login#toggle">
                    <i class="fa-regular fa-eye-slash"></i>
                  </a>
                </span>
              </div>
            </div>
            {% if remember_me_enabled|default(false) %}
                <div class="mb-2">
                <label class="form-check">
                    <input class="form-check-input" type="checkbox" id="remember_me" name="{{ remember_me_parameter|default('_remember_me') }}" {{ remember_me_checked|default(false) ? 'checked' }}>
                    <span class="form-check-label">{{ _remember_me_label }}</span>
                </label>
                </div>
            {% endif %}

            
            <div class="form-footer">
              <button type="submit" class="btn btn-primary w-100">{{ _sign_in_label }}</button>
            </div>
          </div>

          <!-- social account not active at the moment -->
          <div style="display:none">
          <div class="hr-text">or</div>
          <div class="card-body">
            <div class="row">
              <div class="col"><a href="#" class="btn btn-white w-100">
                  <!-- Download SVG icon from http://tabler-icons.io/i/brand-github -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon text-github" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"></path></svg>
                  Login with Github
                </a></div>
              <div class="col"><a href="#" class="btn btn-white w-100">
                  <!-- Download SVG icon from http://tabler-icons.io/i/brand-twitter -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon text-twitter" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z"></path></svg>
                  Login with Twitter
                </a></div>
            </div>
          </div>
          </div>
        </form>
        
        <!-- link to register not active ATM -->
        <div style="display:none">
        <div class="text-center text-muted mt-3">
          Don't have account yet? <a href="./sign-up.html" tabindex="-1">Sign up</a>
        </div>
        </div>

      </div>
    </div>
{% endblock %}
