{% extends 'base.html.twig' %}

{% block stylesheets %}
<style type="text/css">
body {
    background: #212529!important;
    color: #d4d4d4!important;
}
</style>
{% endblock %}

{% block title %}Customer index{% endblock %}

{% block body %}


    <h1>Customer index</h1>

    <table class="table">
        <thead>
            <tr>
                {% for customer in customers %}
                
                <th>
                    {# {{ column.getLabel() }} #}
                    {{ customer }}
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
        {# {{ dump(customer) }} #}
            <tr>
                {% for column in columns %}
                    <td>
                        {# {{ column.format(record, source) | raw }} #}
                        {{ customer }}
                    </td>
                {% endfor %}
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_customer_customer_new') }}">Create new</a>
{% endblock %}
