
<tbody>
{% for row in models %}
    <tr {{ row.attr|options }}>
        {% for column in columns %}
            <td {{ column.options|options }}>
            {% set index = loop.parent.loop.index0 %}
                {% if column.twigFilter %}
                    {{ include(template_from_string('{{ column.render(row, index)|' ~ column.twigFilter ~ ' }}')) }}
                {% else %}
                    {{ column.render(row, index) }}
                {% endif %}
            </td>
        {% endfor %}
    </tr>
{% else %}
    <tr>
        {# <td colspan="{{ columns.length }}">no records found</td> #}
        <td colspan="99">no records found</td>
    </tr>
{% endfor %}
</tbody>