{% if gridview.options.useTurbo %}
<turbo-frame id="gridview-{{ gridview.key }}">
{% endif %}
    <div data-gridview
         data-gv-max-query-length="{{ gridview.options.maxQueryLength }}"
         {{ gridview.containerAttr|options }}
         {% if gridview.hasCheckboxColumn %}
         data-controller="gridview-selection"
         data-gridview-selection-grid-id-value="{{ gridview.key }}"
         {% endif %}>
        {% if form is defined and form is not null %}
        {{ form_start(form, {'attr': {'data-controller': 'gridview-filter', 'data-turbo-action': 'replace'}}) }}
        {% endif %}
        {% for section in gridview.parseLayout('gridview') %}
            {{ gridview_include(gridview, section) }}
        {% endfor %}
        {% if form is defined and form is not null %}
        {{ form_end(form, {'render_rest': false}) }}
        {% endif %}
    </div>
{% if gridview.options.useTurbo %}
</turbo-frame>
{% endif %}
