{% set _currentRoute = app.request.attributes.get('_route') %}
{% set _lastPage    = paginator.pageCount %}
{% set _currentPage = gridview.urlState.page %}
{% set turboAction  = gridview.options.useTurbo ? 'advance' : null %}

{% if paginator.pageCount > 1 %}
    <nav>
        <ul class="pagination justify-content-center pagination-dark" data-bs-theme="dark">
            <li class="page-item{{ _currentPage <= 1 ? ' disabled' : '' }}">
                <a class="page-link"
                   href="{{ path(_currentRoute, gridview.urlState.withPage(_currentPage - 1)) }}"
                   {% if turboAction %}data-turbo-action="{{ turboAction }}"{% endif %}
                   aria-label="Previous">
                    &laquo; Previous
                </a>
            </li>
            {% for i in 1.._lastPage %}
                <li class="page-item{{ i == _currentPage ? ' active' : '' }}">
                    <a class="page-link"
                       href="{{ path(_currentRoute, gridview.urlState.withPage(i)) }}"
                       {% if turboAction %}data-turbo-action="{{ turboAction }}"{% endif %}>
                        {{ i }}
                    </a>
                </li>
            {% endfor %}
            <li class="page-item{{ _currentPage >= _lastPage ? ' disabled' : '' }}">
                <a class="page-link"
                   href="{{ path(_currentRoute, gridview.urlState.withPage(_currentPage + 1)) }}"
                   {% if turboAction %}data-turbo-action="{{ turboAction }}"{% endif %}
                   aria-label="Next">
                    Next &raquo;
                </a>
            </li>
        </ul>
    </nav>
{% endif %}
