
<tbody>
{% for row in models %}
    <tr {{ gridview.rowAttr|merge(row.attr ?? {})|options }}>
        {% for column in columns %}
            <td data-col="{{ loop.index0 }}"{% if not column.isVisible() %} style="display:none"{% endif %} {{ column.options|options }}>
            {% set index = loop.parent.loop.index0 %}
                {% set cellContent %}
                    {% if column.twigFilter %}
                        {{ include(template_from_string('{{ column.render(row, index)|' ~ column.twigFilter ~ ' }}')) }}
                    {% else %}
                        {{ column.render(row, index) }}
                    {% endif %}
                {% endset %}
                {% if column.isEditable() %}
                    <span class="gv-editable"
                          data-action="{{ column.editableTrigger }}->gridview-inline-edit#edit"
                          data-gv-field="{{ column.attribute }}"
                          data-gv-id="{{ row.data.id }}">{{ cellContent|raw }}</span>
                {% else %}
                    {{ cellContent|raw }}
                {% endif %}
            </td>
        {% endfor %}
    </tr>
{% else %}
    {% include gridview.layoutTemplate('empty') %}
{% endfor %}
</tbody>
